.product-specs{
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
  .product-container{
    width:340px;
    margin: 2vw;
  }
  .product-poster{
    width: 340px;
    height: 600px;
    object-fit: cover;
  }
  .product-name{
    font-size: 24px;
    margin: 0;
  }
  .product-summary{
    margin-top: 0;
  }
  .product-company{
    font-size: 18px;
  }
  .product-list-container{
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    flex-wrap: wrap;
  }
  